.header {
    text-align: center;
}
html {
    height: 100%;
}
body {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
.web_title {
    font-size: 32px;
}

a:link {
    color:blue;
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

footer {
    height: 60px;
    position: absolute;
    border-top: 1px solid gray;
    width: 80%;
    line-height: 40px;
}
